@import "../scss/common.scss";

// guideBasic
.guide {
  font-family: "Pretendard-Regular", "wanted-sans", sans-serif;
  // font-family: "Pretendard", "Poppins", "Noto Sans KR", sans-serif;
  color: $c-2c3e50;
  .body {
    .guide-menu {
      position: fixed;
      min-width: 200px;
      height: 100vh;
      border-right: 1px solid;
      overflow: auto;
      background: $c-fff;

      .logo {
        padding: 20px;
        cursor: pointer;
      }

      li {
        position: relative;
        padding: 12px 20px;
        cursor: pointer;

        &:hover {
          background: $c-f8f8f8;
          font-weight: 600;
          text-decoration: underline;

          &::after {
            opacity: 1;
          }
        }

        &::after {
          display: inline-block;
          content: "🧩";
          position: absolute;
          right: 20px;
          opacity: 0;
        }
      }
    }

    .guide-cont {
      padding: 80px 40px 40px 240px;
      .cont-top {
        padding-bottom: 20px;
        border-bottom: 1px solid $c-111;
        h2 {
          margin-bottom: 4px;
        }
      }
      .cont-mid {
        @include flex-align(flex, column);
        gap: 20px;
        padding-top: 40px;

        .item {
          .item-tit {
            margin-bottom: 0.5rem;
            font-weight: 600;
          }

          //   color
          .colors-wrap {
            @include flex-align(flex, row);
            flex-wrap: wrap;
            gap: 12px;

            > div {
              position: relative;
              min-width: calc(100% / 12);
              min-height: 100px;
              border-radius: 12px;
              border: 1px solid $c-ccc;
              overflow: hidden;
              p {
                width: 100%;
                position: absolute;
                bottom: 0;
                padding: 4px 8px;
                background: $c-fff;
                text-align: center;
              }
            }

            @for $i from 1 through length($colors) {
              .color#{$i} {
                background-color: nth($colors, $i);
              }
            }
          }

          //Typo
          .typo-wrap {
            .typo-table {
              border: 1px solid $c-111;

              table {
                width: 100%;
                thead {
                  th {
                    background: #ffe6a0;
                  }
                }
                tbody {
                  tr {
                    border-bottom: 1px dashed $c-d9d9d9;
                    &:last-child {
                      border-bottom: none;
                    }
                    &:nth-child(2n) {
                      background: $c-f8f8f8;
                    }
                    td {
                      padding: 0 4px;
                    }
                  }
                }
              }
            }
          }

          //icon
          .icon-wrap {
            border-radius: 12px;
            background: $c-eee;
          }
        }
      }
    }
  }
}
