@import "../scss/common.scss";

// main align
.main-align {
  display: flex;
}
// side
.side {
  @include flex-align(flex, column);
  flex: 0 0 20rem;
  height: 100vh;
  padding: 2.5rem 1.25rem;
  background: #eee;

  .side-top {
    padding: 0.5rem 0 3rem 0;
    border-bottom: 1px solid $c-111;
    .logo {
      @include icon-bg(100%, 10.5rem, img_logo_l, png, contain);
      cursor: pointer;
    }
  }

  .side-mid {
    flex: 1;
    padding-top: 2.125rem;
    .txt-under {
      @include fs-18-28;
      font-weight: 600;
    }
  }

  .side-bttm {
    button {
      width: 100%;
    }
  }
}
